body {
    color: silver;
    background: black;
}
a:link {
    color: teal;
}
a:visited {
    color: teal;            }
}
a:active {
    color: crimson
}
h1 {
    color: black;
    background: rgb(247, 247, 66)
}
h2 {
    color: darkgoldenrod;
}
div.note {
    font-family: 'Monaco', monospace;
    font-size: 14;
    white-space: pre-line;
    margin-left: auto;
    margin-right: auto;
    width: 43em;
    margin-top: 11%;
    margin-bottom: 11%;
}
div.footer {
    font-family: 'Monaco', monospace;
    font-size: 14;
    white-space: pre-line;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}